<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body style="padding-top:50px;">
    <%= render :partial => "application/navbar" %>
    <%= render(:partial => "application/jumbotron") if params[:controller] == "index" %>
    <div id="main" class="container">
      <%= render 'flashes' -%>
      <%= yield %>
      <footer>
        <%= render :partial => "application/footer" %>
      </footer>
    </div>
    <%= render 'javascript' %>
  </body>
</html>